// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
    background: #9e7a7a;
}
a {
    color: white;
}
a:hover{
    color:#9c4747;
}
h1 {
    color: white;
}